/* add css */
nav {
    display: flex;
    justify-content: space-between;
    background-color:blue;
    padding: 1rem;
}
nav, footer {
    background-color: blue;
    padding: 1rem;
}
footer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    padding: .2rem
}
img {
    width: 500px;
    margin: auto;
    height: auto;
}
header h1 {
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}