/* add css */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    line-height: 1.15;
}
h1 {font-size: 3.6rem;}
h2 {font-size: 2.8rem;}
h3 {font-size: 2.4rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.8rem;}
h6 {font-size: 1.6rem;}

h1, h2, h3, h4, h5, h6{font-weight: 600;}

img{
    width:25%;
    height: auto;
    justify-content: center;
    align-items: center;
}
svg { 
    height: 100%;
    width: 100%;
    fill: currentColor;
    pointer-events: none;
}

/*--
Document Styles --*/

nav {
    background-color: rgba(65, 65, 251, 0.983);
    color:azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
nav div {
    display: flex;
}
.logo {
    align-items: center;
    gap: 2rem;
}
.links {
    gap: 4rem;
}
nav img {
    height: 60px;
    width: auto; 
}


/*--Media Queries--*/

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 2rem;
    }    
}

